<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  </head>
  <body>
    <header>
      <nav class="header">
        <div class="nav-wrapper">
          <a href="/" class="brand-logo">B.B.BLOG</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <% if user_signed_in? %>
            <li><a href="/" ><%= link_to "サインアウト", destroy_user_session_path, method: :delete %></a></li>
            <li><a href="blogs/new"><%= link_to "投稿する" , new_blog_path, method: :get%></a></li>
            <li><a href="" class="login_user"><%= current_user.nickname %></a></li>

            <% else %>

            <li><a href="sessions/new/"><%= link_to "サインイン",new_user_session_path, method: :get %></a></li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
